@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kalam:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+BE+WAL:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zain:wght@200;300;400;700;800;900&display=swap');

body {
  font-family: 'zain';
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.Nav {
  background-color: #F33A3A;
  border-radius: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  height: 400px;
  padding: 0 10px;
  position: absolute;
  right: 20px;
  img:active {
    transform: scale(0.9);
  }

}

.Nav:hover {
  height: 700px;
  transition: ease-in-out 0.5s;

}


@media screen and (max-width: 768px) {
  .Nav {
    bottom: 20px;
    width: 80%;
    height: auto;
    flex-direction: row;
  }

  .Nav:hover {
    height: 50px;
  }
  
}